In [19]:
import pyarrow.parquet as parquet
import pyarrow.feather as feather
import pyarrow.orc as orc
import pyarrow.csv as csv
import pyarrow as pa
from pathlib import Path
import gc
import time
import os
import psutil
import json
from timeit import default_timer as timer
from datetime import timedelta
import pandas as pd

reddit_place = '2022_place_canvas_history'
original_csv_file = f'data/small/day1/original/{reddit_place}.csv'

df = csv.read_csv(original_csv_file).to_pandas()
df.head()

,timestamp,user_id,pixel_color,coordinate,conv_timestamp
0,2022-04-01 15:38:01.116 UTC,WYFuP/nwVCIBrw5XOVYKsHyo/fJpOJcIXCm75iKLqEz92B...,#000000,"191,662",2022-04-01 15:38:01.116000+00:00
1,2022-04-01 15:38:01.124 UTC,1Fie0j8msAiBmD5+NfV4SdY6ilMDHV9XJc6zWdhgAyrc8H...,#000000,"239,18",2022-04-01 15:38:01.124000+00:00
2,2022-04-01 15:38:01.13 UTC,qvqMCBzdQyIL1ET+iZvXilEjCrt7cjq3oPG3uUad8tWi1X...,#FFFFFF,"722,727",2022-04-01 15:38:01.130000+00:00
3,2022-04-01 15:38:01.131 UTC,TGLWFhne7tzE8iBhUWm7K3m6SrH+2xBl599XMhdtvV6RqV...,#FF4500,"645,46",2022-04-01 15:38:01.131000+00:00
4,2022-04-01 15:38:01.134 UTC,C1E2rtkIcBP+omujs+YcSHfdWfCBpcxq6uIQpSlekwfyIq...,#FFFFFF,"904,83",2022-04-01 15:38:01.134000+00:00

In [17]:
new_df = df.drop('', axis=1)

In [3]:
df2 = pd.read_csv(original_csv_file)

In [8]:
new_df = df.drop('__index_level_0__', axis=1)

In [18]:
new_df.to_csv(original_csv_file, index=False)